<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simple_product_labels>
            <general>
                <show_product_page>1</show_product_page>
                <show_category_page>1</show_category_page>
            </general>
            <new_label>
                <show_product_page>1</show_product_page>
                <show_category_page>1</show_category_page>
                <id>new</id>
                <text>NEW</text>
                <color>#FFFFFF</color>
                <background>#222222</background>
                <width>100</width>
                <height>30</height>
            </new_label>
            <sale_label>
                <show_product_page>1</show_product_page>
                <show_category_page>1</show_category_page>
                <id>sale</id>
                <text>SALE</text>
                <color>#FFFF00</color>
                <background>#BB0000</background>
                <width>100</width>
                <height>30</height>
            </sale_label>
        </simple_product_labels>
    </default>
</config>